* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerWebSite{
    height: 100vh;
}

.headerWebSite {
    padding: 16px;
    border-bottom: 1px solid grey;
}

.mainWebSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 30px;
}

.botoesWebSite {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.btn1 {
    background-color: #0DE016;
    border-radius: 50px;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.btn2 {
    background-color: white;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}